
.content-up {
      background:url(../image/bg.jpg);
      margin:0 auto;
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 1300px;
      height: 740px;
}
.logo {
      padding-left: 30px;
}
.content-up .menu ul{
      display: flex;
      font-family:'Open Sans', sans-serif;
      font-size: 16px ;
      padding-right: 30px;
      list-style: none;
      
}
.content-up .menu ul li {
      margin: 20px 40px;
}   
.content-up .menu ul a {
      text-decoration: none;
     color: white;
}
.content-midle {
     text-align: center;
     margin: 0 auto;
     }
.name {
      font-family: 'Source Sans Pro', sans-serif;
     text-transform: uppercase;
     font-size: 35px;
     line-height: 70px;
     font-weight: 300;
     color: #ffffff;
     margin: -20px;
}
   .name-text {     
       line-height: 28px;
      height: 45px;
      color: #ffffff;
      font-family: "Open Sans";
}   
      .button {
    padding: 10px;
      margin: 0 auto;
       background: #19bd9a;
       width: 20px;
       height: 20px;
       border-radius: 50%;
      }

.title-text {
     font-family: 'Source Sans Pro', sans-serif;
     text-transform:uppercase;
}
.boby {
     font-family: 'Open Sans', sans-serif;
     color: #1761d6;  
}
.about-us {
      width: 1300px;
      margin-top: 30px;
}
.about-us-title {
      width: 220px;
      height: 60px;
      text-transform: uppercase;
}
.about-us-left {
      float: left;
      width: 890px;
     padding:10px;
}
.information-about-us {
      width: 460px;
      height: 134px;
      margin-top: 30px;
      line-height: 25px;
}

.about-us-right{
    float: right;
      width: 370px;
}

.about-us-pic {
      margin: 0 auto;
      width: 150px;
}

.clear {
      clear: both;
}

.btn-read-me {
      border-radius: 13px;
      padding: 5px;
      margin-top: 20px;
}  

.hide {
      display:none;
}

.icon {
      background:grey;
      width: 24px;
      height: 24px;
      border-radius: 18px;
      display: inline-block;
      padding: 5px;
      margin-left: 10px;
      color:white;
}

.icons {
       margin-top:20px;
}

.icons :hover {
      background:#81868e ;    
}
.icons :hover {
      background: #19bd9a;    
}

.top {
    text-align: center;
}

.desk {    
      width: 500px;
 }
 .details {
     
      width: 1300px;
 }
.text-left {
     width: 300px;
     float: left;
}
.text-right {
     width: 900px;
     float: right;
}

.center-horizontal {
     margin: 0 auto;
}


      

     
     
