.title-text {
     font-family: 'Source Sans Pro', sans-serif;
     text-transform:uppercase;
}
.boby {
     font-family: 'Open Sans', sans-serif;
     color: #1761d6;  
}
.about-us {
      width: 1300px;
      margin-top: 30px;
      
}
.about-us-title {
      width: 220px;
      height: 60px;
      text-transform: uppercase;
}
.about-us-left {
      float: left;
      width: 890px;
     padding:10px;
}
.information-about-us {
      width: 460px;
      height: 134px;
      margin-top: 30px;
      line-height: 25px;
}

.about-us-right{
    float: right;
      width: 370px;
}

.about-us-pic {
      margin: 0 auto;
      width: 150px;
}

.clear {
      clear: both;
}

.btn-read-me {
      border-radius: 13px;
      padding: 5px;
      margin-top: 20px;
}  

.hide {
      display:none;
}

.icon {
      background:grey;
      width: 24px;
      height: 24px;
      border-radius: 18px;
      display: inline-block;
      padding: 5px;
      margin-left: 10px;
      color:white;
}

.icons {
       margin-top:20px;
}

.icons :hover {
      background:#81868e ;    
}
.icons :hover {
      background: #19bd9a;    
}

.top {
    text-align: center;
}
.desk {    
      width: 500px;
 }
 .details {
     
      width: 1300px;
 }
.text-left {
     width: 300px;
     float: left;
}
.text-right {
     width: 900px;
     float: right;
}

.center-horizontal {
     margin: 0 auto;
}

.content {
      background:url(../image/bg.jpg);
      margin:0 auto;
      width: 1300px;
      height: 740px;
}
.content {
     display: flex;
     justify-content: space-evenly;
     padding: 20px;      
}
.nav {
      display: flex;
      justify-content: space-between;
      flex-basis: 45%;
      width: 500px;
      font-family:'Open Sans', sans-serif;
      font-size: 16px ;
      padding-top: 30px;
}
a {
      color: #ffffff;
}
  .logo {
    display: flex;
    flex-basis: 40%;
}

.title {
      display: flex;
      align-self: center;
      position: absolute;
      font-family: 'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      font-size: 35px;
      line-height: 70px;
      font-weight: 300;
      color: #ffffff;
      letter-spacing: 7px;
}
.title-text{
      display: flex;
      align-self: center;
      position: absolute;
      margin: 30px;
      text-align: center;
      width: 604px;
      line-height: 28px;
      height: 45px;
      color: #ffffff;
      font-family: "Open Sans";
}
.button {
      display: flex;
      align-self:flex-end;
      position: absolute;
      padding: 10px;
      flex-basis: 10%;
      background: #19bd9a;
      width: 20px; 
      height: 20px;
      border-radius: 50%; 
      
}
.icon-button {
      text-align: center;
      display: flex;
      align-items: flex-end ;
}




      

     
     
