.header {
    display:flex;
    background:url(../image/bg.jpg);
    width: 1360px;
    height: 900px;
}

.header-title {
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    height: 50px;
}
.header-content {
    height: 50px;
    display: flex;
    flex-direction: column;
}
